@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root {
--bg: #F1EBE1;
--main: #DFBB7F;
--sec: #263677;
}
html {
    scroll-behavior: smooth;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg);
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 50vw;
    background-size: 100vw, 100vw 50vw, 100vw;
    background-color: var(--main);
    background-position: center, bottom, right top ;
    background-image: linear-gradient(to right,var(--bg),rgba(240, 234, 224, 0.2),rgba(240, 234, 224, 0.2)),
                        linear-gradient(rgba(240, 234, 224, 0),var(--bg)),
                        url("/header_bg_img.JPG");
    background-repeat: no-repeat;
}
#header-logo{
    height: 70%;
}

.blog-image, .blogpost-image{
    width: 50vw;
}
.blogpost-content{
    width: 100vw;
}

menu{
    background-color: rgba(10, 10, 10, 0.5);
    width: 60vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(400px);
    transition: transform 0.5s ease-out;
    z-index: 1;
}

.is-active{
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}
#menu-icon{
    color: var(--sec);
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 25px;
    z-index: 2;
}

#menu{
    margin-top: 80px;
}
.menu-item{
    background-color: var(--main);
    width: 60vw;
    height: 50px;
    margin-top: 1rem;
    border-left: var(--sec) solid 5px;
    padding-left: 1rem;
    padding-top: 15px;
    transform: translateX(0px);
    transition: transform 0.5s ease-out;
}
.menu-item a{
    width: 100%;
    height: 100%;
}
.menu-item:active{
    transform: translateX(10px);
    transition: transform 0.5s ease-out;
    cursor: pointer;
}


#contact{
    width: 100vw;
    display: flex;
    border-top: var(--main) solid 10px;
    border-bottom:var(--main) solid 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: var(--sec);
}
#contact-img{
    width: 30vw;
    padding: 0.5rem;
}
#contact-info{
    padding: 1rem;
    width: 70vw;
}

#contact-write{
    margin-top: 1rem;
    background-color: var(--sec);
    color: var(--bg);
    width: 160px;
    text-align: center;
    border-radius: 5px;
}
h3{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: var(--sec);
}
h4{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--sec);
    padding-left: 1rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    color: var(--sec);
}


#cennik-container{
    background-color: var(--bg);
    max-width: 870px;
    min-height: 500px;
    margin: 0 auto;
    width: 100vw;
    background-size: 100%;
    background-position: top center, bottom center;
    background-image: url("/borderUp.png"),url("/borderLow.png");
    background-repeat: no-repeat;
    padding: 5% 5% 15%;
}
#cennik-container >h3{
    margin-left: 3rem;
}
#cennik-list{
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 4rem;
}
.cennik-item{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--sec) solid 1px;
}
.cennik-item-title{
    font-weight: bold;
}
.cennik-item-price{
    text-align: right;
    font-style: italic;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--sec);
}

#oferta-container, #form-container{

    width: 100vw;
    border-top: var(--main) solid 10px;
    border-bottom:var(--main) solid 10px;
    padding: 1rem;
}

#form-email, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 0.6rem;
}
#form-email{
    margin-top: 10px;
    height: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--sec);
    border: none;
    border-bottom: var(--sec) solid 2px;
}
textarea{
    height: 20vh;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--sec);
    border: none;
    border-bottom: var(--sec) solid 2px;
    resize: none;
}
#form-email:focus, textarea:focus{
    outline: none;
}
#form-email::placeholder, textarea::placeholder{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--sec);
}

#form-submit{
    background-color: var(--sec);
    color: var(--bg);
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.mapouter{
    position:relative;
    text-align:right;
    width:100vw;
    height:50vw;
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    width:100vw;
    height:50vw;
}
.gmap_iframe{
    display: block;
    height:50vw!important;
}

footer{
    background-color: var(--main);
    padding: 20px 3rem;
}


@media only screen and (min-width: 800px) {
    section{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    
    }
    #contact{
        width: 50vw;
        border-bottom:none;
    }
    
    #contact-img{
        width: 15vw;
    }
    #contact-info{
        padding: 1rem;
        width: 35vw;
    }
    h3{
        font-size: 35px;
        line-height: 30px;
    }
    h4{
        font-size: 30px;
        line-height: 40px;
    }
    ul {
        margin: 2rem;
        padding: 0;
        font-size: 26px;
        line-height: 40px;
    }
    #header-logo{
        width: 20vw;
    }
    #menu-icon{
        display: none;
    }
    #menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }
    header{
        display: flex;
    }
    menu{
        background-color: transparent;
        height: 40px;
        width: 80vw;
        /* display: block;
        position: relative; */
        transform: translateX(0px);
        transition: transform 0.5s ease-out;
    }
    .menu-item{
        width: 150px;
        height: 40px;
        padding-top: 0;
        transform: translateY(0px);
        transition: transform 0.5s ease-out;
    }
    .menu-item:hover{
        transform: translateY(-10px);
        transition: transform 0.5s ease-out;
        cursor: pointer;
    }
    .mapouter{
        position:relative;
        text-align:right;
        width:50vw;
        height:25vw;
    }
    .gmap_canvas{
        overflow:hidden;
        background:none!important;
        width:50vw;
        height:25vw;
    }
    .gmap_iframe{
        display: block;
        height:25vw!important;
    }
    #cennik-list{
        width: 90%;
        padding: 0 2rem;
    }
    #cennik-container >h3{
        margin-left: 5rem; 
    }
    #form-container>h3{
        width: 50vw;
        margin: 1rem auto;
    }
    form{
        width: 50vw;
        margin: 0 auto;
    }
  }